.home__main-content{
    align-items: center;
    align-content: center;
    background-color: $primary;
    flex-direction: column;
    display: flex;
    padding-top: 30px;
}

.home__table-header{
    background-color: white;
    border-radius: 5px;
    border-color: $dark-grey;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    width: 60%;
}
.home__table-row{
    background-color: white;
    border-radius: 5px;
    border-color: $dark-grey;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    width: 60%;
}